/*
-------------------
1. Generelle indstillinger
-------------------*/
html {
    background-color: #353F1E;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    color: #C7C711;
}

h1 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

h2 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    color: #A95417;
}

h4 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    color: #C7C711;
}

/*
-------------------
2. Forside
-------------------*/

/*Baggrundsbillede*/

.baggrund {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

}

.billede {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*Links til undersider*/

.link1 p {
    align-items: center;
    display: flex;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    padding-top: 100px;
    color: solid #C7C711;
}

.link2 p {
    align-items: center;
    display: flex;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    padding-top: 100px;
}

@media only screen and (min-width:1200px) {
    .link2 p {
        padding-top: 350px;
        padding-right: 50px;
    }
}

@media only screen and (min-width:1200px) {
    .link1 p {
        padding-top: 350px;
    }
}

/*Hover effekt*/


.link1 a:link {
    text-decoration: none;
}

.link1 a:visited {
    text-decoration: none;
    color: #C7C711;
}

.link1 a:hover {
    background-color: #A95417;
    height: 100%;

}

.link2 a:link {
    text-decoration: none;
}

.link2 a:visited {
    text-decoration: none;
    color: #C7C711;
}

.link2 a:hover {
    background-color: #A95417;
    height: 100%;

}


/*
-------------------
2. Om
-------------------*/

/*#om1*/

#om1 h1 {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5em;
    color: #C7C711;
    padding-left: 180px;
    margin-top: 40px;
}

@media only screen and (min-width:1200px) {
    #om1 h1 {
        padding-left: 650px;
    }
}

.foerste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.del1 {
    flex-basis: 500px;
    flex-grow: 1;
    line-height: 1.4;
    padding-left: 50px;
}

.del1 img {
    padding-left: 150px;
    padding-top: 10px;
}

@media only screen and (min-width:1200px) {
    .del1 {
        padding-left: 300px;
    }
}

.del1 p {
    color: #C7C711;
    max-width: 400px;
    min-width: 300px;
}

.del2 {
    flex-basis: 500px;
    flex-grow: 1;
}

.del2 img {

    width: 100%;
    height: 100%;
    padding-top: 25px;
}



@media only screen and (min-width:600px) {
    .del2 img {
        height: 580px;
        width: 420px;
    }
}


/*#om2*/

#om2 h1 {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5em;
    color: #C7C711;
    padding-left: 215px;
    padding-top: 40px;
    padding-bottom: 40px
}

@media only screen and (min-width:1200px) {
    #om2 h1 {
        padding-left: 670px;
        padding-bottom: 0px;
        padding-top: 70px;
    }
}

.anden {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

}

.del3 {
    flex-basis: 400px;
    flex-grow: 1;
}

.del3 img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width:600px) {
    .del3 img {
        height: 580px;
        width: 420px;
        padding-top: 50px;
    }
}

@media only screen and (min-width:900px) {
    .del3 img {
        height: 580px;
        width: 420px;
        padding-top: 50px;
        padding-left: 150px;
    }
}

@media only screen and (min-width:1200px) {
    .del3 img {
        width: 70%;
        height: 40%;
        margin-left: 230px;
        margin-top: 150px;
        padding-left: 0px;
    }
}


.del4 {
    flex-basis: 600px;
    flex-grow: 1;
    line-height: 0.9;
    margin-left: 40px;
    max-width: 400px;
    min-width: 300px;
}

@media only screen and (min-width:900px) {
    .del4 {
        margin-right: 130px;
        margin-left: 70px;
        line-height: 0.3;
        max-width: 800px;
        min-width: 300px;
        padding-right: 50px;
    }
}

@media only screen and (min-width:1200px) {
    .del4 {
        margin-right: 130px;
        margin-left: 70px;
        line-height: 0.3;
        max-width: 800px;
        min-width: 300px;
    }
}

.del4 h2 {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid #A95417;
    border-radius: 5px;
    margin-right: 40px;
    line-height: 0.5
}

@media only screen and (min-width:1200px) {
    .del4 h2 {
        margin-right: 160px;
        padding-top: 10px;
    }
}


/*
-------------------
3. Portfolie startside
-------------------*/

#portfolio img:hover {
    background-color: #C7C711;
    height: 300px;
    padding-bottom: 50px;
}

#portfolio img:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 1.3s ease-in-out 0s;
}

#portfolio h1 {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5em;
    color: #C7C711;
    padding-left: 170px;
    padding-top: 40px;

}

@media only screen and (min-width:890px) {
    #portfolio h1 {
        padding-left: 400px;


    }
}

@media only screen and (min-width:1285px) {
    #portfolio h1 {
        padding-left: 647px;


    }
}

.cirkler {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cirkler img {
    width: 350px;
    height: 350px;
    padding-top: 50px;
}

@media only screen and (min-width:1200px) {
    .cirkler img {
        width: 280px;
        height: 280px;
        padding-top: 50px;

    }
}

#et {
    margin-right: 20px;
    margin-left: 70px;
}

#to {
    margin-right: 20px;
    margin-left: 70px;
}

#tre {
    margin-right: 20px;
    margin-left: 70px;
}

#fire {
    margin-right: 20px;
    margin-left: 70px;
}

@media only screen and (min-width:1200px) {

    #to,
    #tre,
    #fire {
        margin-right: 0px;
        padding-top: 50px;
        margin-left: 0px;

    }
}

@media only screen and (min-width:1200px) {
    #et {
        margin-right: 0px;
        padding-top: 50px;
        margin-left: 150px;

    }
}

/*
-------------------
4. Tema.1
-------------------*/

#tema1 h1 {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5em;
    color: #C7C711;
    padding-left: 180px;
    margin-top: 40px;
}

@media only screen and (min-width:1200px) {
    #tema1 h1 {
        padding-left: 650px;
    }
}

.responsive {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.tekst1 {
    flex-basis: 500px;
    flex-grow: 1;
    line-height: 1.4;
    padding-left: 50px;
}



@media only screen and (min-width:1200px) {
    .tekst1 {
        padding-left: 300px;
    }
}

.tekst1 p {
    color: #C7C711;
    max-width: 400px;
    min-width: 300px;
}

.dada {
    flex-basis: 500px;
    flex-grow: 1;
}

.dada img {

    width: 100%;
    height: 100%;
    padding-top: 25px;
}



@media only screen and (min-width:600px) {
    .dada img {
        height: 580px;
        width: 420px;
    }
}
