/*
-------------------
1. Generelle indstillinger
-------------------*/
html {
    background-color: #353F1E;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: aktiv-grotesk-thin, sans-serif;

    font-weight: 200;

    font-style: normal;

    font-size: 1.5em;
}

h1 {


    font-family: aktiv-grotesk, sans-serif;

    font-weight: 400;

    font-style: normal;

}

h2 {
    font-family: aktiv-grotesk-thin, sans-serif;

    font-weight: 200;

    font-style: normal;

    font-size: 1.5em;
}

/*
-------------------
2. Forside
-------------------*/


/*Baggrundsbillede*/

.baggrund {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

}


.billede {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*Links til undersider*/


.link1 p {
    align-items: center;
    display: flex;


    font-family: aktiv-grotesk-thin, sans-serif;

    font-weight: 200;

    font-style: normal;

    font-size: 1.5em;

    padding-top: 100px;
}

.link2 p {
    align-items: center;
    display: flex;


    font-family: aktiv-grotesk-thin, sans-serif;

    font-weight: 200;

    font-style: normal;

    font-size: 1.5em;

    padding-top: 100px;
}

@media only screen and (min-width:1200px) {
    .link2 p {
        padding-top: 350px;
        padding-right: 50px;




    }
}

@media only screen and (min-width:1200px) {
    .link1 p {
        padding-top: 350px;




    }
}

/*Gradient hover effekt*/

:root {
    --mainColor: #A95417;
}

a.link {
    background:
        linear-gradient(to bottom, var(--mainColor) 0%,
        var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: #C7C711;
    text-decoration: none;
    transition: background-size .2s;
}

a:hover {
    background-size: 4px 50px;
}


/*
-------------------
2. Om
-------------------*/
#om1 h1 {
    color: #C7C711;
    padding-left: 190px;
}

.foerste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.del1 {
    flex-basis: 500px;
    flex-grow: 1;
    line-height: 1.6;
}

.del1 img {
    padding-left: 190px;
    padding-top: 10px;
}

@media only screen and (min-width:1200px) {
    .del1 {
        padding-left: 250px;




    }
}

.del1 p {
    color: #C7C711;
}

.del2 {
    flex-basis: 500px;
    flex-grow: 1;


}

.del2 img {

    width: 100%;
    height: 100%;
    padding-top: 25px;
}

@media only screen and (min-width:1200px) {
    .del2 img {
        max-height: 500px;
        max-width: 375px;





    }
}

@media only screen and (min-width:600px) {
    .del2 img {
        max-height: 500px;
        max-width: 375px;
        padding-left: 50px;





    }
}
